header {
  text-align: center;
  margin: 3rem 0;
}

header img {
  height: 5rem;
  width: 10rem;
  object-fit: cover;
}

header h1 {
  margin: 0;
  font-family: "Roboto Condensed", sans-serif;
  font-size: 5rem;
  background: linear-gradient(to left, #0d00ff, #4646ff, #ff0000, #ff6565, #ff0000, #4646ff, #0d00ff);
  background-size: 300% 300%; /* Make gradient larger for smoother animation */
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  filter: drop-shadow(0 2px 8px rgba(0, 0, 0, 0.5));
  animation: gradientMove 5s alternate linear infinite; /* Apply animation */
}

@keyframes gradientMove {
  0% {
    background-position: 200% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}



header p {
  margin: 0;
  font-size: 1.25rem;
  color: #8964b0;
  background: linear-gradient(to left, #00045a, #003a87, #001aff, #00ccff,#001aff, #003479, #00045a );
  background-size: 300% 300%; /* Make gradient larger for smoother animation */
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-family: "Roboto Condensed", sans-serif;
  animation: gradientMove 5s alternate linear infinite;
}
@keyframes gradientMove {
  0% {
    background-position: 200% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}